#navbar {
    position: absolute;
    top: 29px;
    left: 104px;
    width: 1521px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.logo {
    position: relative;
    width: 87px;
    height: 95px;
    object-fit: cover;
}
.nav-logo {
    width: 349px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: var(--gap-3xs);
}
.navbar-btn {
    position: relative;
    cursor: pointer;
}
.destination-parent {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-53xl);
}
.akar-iconssearch {
    border: none;
    background-color: transparent;
    position: relative;
}

.login-btn {
    cursor: pointer;
}

.sign-up-parent {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: var(--gap-5xl);
}
.login-parent {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: var(--gap-24xl);
}
