.text-stroke {
    font-weight: 600;
    color: white;
    -webkit-text-fill-color: transparent;
    -webkit-text-strokeWidth: 1.5px;
    -webkit-text-stroke-color: white;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}

@media (min-width: 1536px) {
    .text-stroke {
        -webkit-text-strokeWidth: 2.5px;
    }
}